.download-modal-content {
  display: flex;
  padding: 0 0.25rem 1rem 0.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6875rem;
  align-self: stretch;
}

.download-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.download-method {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.download-modal-actions {
  display: flex;
  gap: 1rem;
  align-self: stretch;
  justify-content: flex-end;
}