.fr-footer__body,
.fr-footer__partners,
.fr-footer__bottom-copy {
  display: none;
}
#footer {
  padding-top: 0;
  margin-top: -10px;
}
.fr-footer__bottom {
  margin-top: 0;
}
#fr-footer-toggle {
  display: none;
}

#fr-footer{
  padding: 0;

}

 /* mini header */
 .fr-header__service-tagline {
  display: none;
}
.fr-header__service {
  position: absolute;
  left: 100px;
}
.fr-header__service::before {
  display: none;
}