.fr-footer__body,
.fr-footer__partners,
.fr-footer__bottom-copy {
  display: var(--visible);
}
#footer {
  padding-top: var(--padding);
  margin-top: var(--margin);
}
.fr-footer__bottom {
  margin-top: var(--margin);
}
#fr-footer-toggle {
  display: var(--visible-toggle);
}

#fr-footer{
  padding: 0;

}
.fr-footer__bottom-item--right {
}


@media (min-width: 78em) {
  .fr-container, .fr-container-sm, .fr-container-md, .fr-container-lg {
    max-width: 100%;
  }
}



.gpf-btn-icon-widget {
  background-image: url("img/dsfr/widget.svg");
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center center;
}