.modal-contenu > div {
  margin-bottom: 1.5rem;
}

.modal-title-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.modal-title-wrapper .fr-icon-equalizer-line,
.modal-title-wrapper .fr-icon-france-fill,
.modal-title-wrapper .fr-icon-server-fill,
.modal-title-wrapper .fr-icon-download-fill {
  color: #000091;
  font-size: 1.25rem;
}

.modal-title-wrapper h6 {
  margin: 0;
}