.menu {
  display: flex;
  width: 451px;
  height: 604px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.title-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-menu h4 {
  margin: 0;
}