.menu {
  display: flex;
  height: 604px;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  flex-shrink: 0;
}

.title-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-menu h4 {
  margin: 0;
}

.filter-menu {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0;
}

.filter-menu .fr-input-group {
  flex: 1;
  margin-bottom: 0;
}

.filter-menu button {
  height: 2.5rem;
}
